In [2]:
%reload_ext autoreload
%autoreload 2

In [4]:
from src.paths import PARENT_DIR
from src.data import loadRawData, processRawData, processData2FeatTgt
rides = loadRawData(year=2022)
rides

File for 2022_01 found locally...
File for 2022_02 found locally...
File for 2022_03 found locally...
File for 2022_04 found locally...
File for 2022_05 found locally...
File for 2022_06 found locally...
File for 2022_07 found locally...
File for 2022_08 found locally...
File for 2022_09 found locally...
File for 2022_10 found locally...
File for 2022_11 found locally...
File for 2022_12 found locally...

            pickup_datetime  pickup_loc_id
0       2022-01-01 00:35:40            142
1       2022-01-01 00:33:43            236
2       2022-01-01 00:53:21            166
3       2022-01-01 00:25:21            114
4       2022-01-01 00:36:48             68
...                     ...            ...
3399544 2022-12-31 23:46:00             16
3399545 2022-12-31 23:13:24             75
3399546 2022-12-31 23:00:49            168
3399547 2022-12-31 23:02:50            238
3399548 2022-12-31 23:00:15             85

[39654635 rows x 2 columns]

In [5]:
ts_data = processRawData(rides)
ts_data.head(10)

100%|██████████| 262/262 [00:01<00:00, 154.41it/s]

            pickup_hr  rides  pickup_loc_id
0 2022-01-01 00:00:00     11              4
1 2022-01-01 01:00:00     15              4
2 2022-01-01 02:00:00     26              4
3 2022-01-01 03:00:00      8              4
4 2022-01-01 04:00:00      9              4
5 2022-01-01 05:00:00      7              4
6 2022-01-01 06:00:00      3              4
7 2022-01-01 07:00:00      1              4
8 2022-01-01 08:00:00      0              4
9 2022-01-01 09:00:00      3              4

In [7]:
features, targets = processData2FeatTgt(
    ts_data,
    input_feat_len= 24*28*1, # One Month
    step_size=24
)

print(f'{features.shape=}')
print(f'{targets.shape=}')
features, targets

100%|██████████| 262/262 [00:23<00:00, 11.11it/s]

features.shape=(88294, 674)
targets.shape=(88294, 1)

(       rides_prev_672_hr  rides_prev_671_hr  rides_prev_670_hr  \
 0                   11.0               15.0               26.0
 1                    1.0                0.0                2.0
 2                    0.0                1.0                0.0
 3                    1.0                1.0                0.0
 4                    0.0                0.0                0.0
 ...                  ...                ...                ...
 88289                0.0                0.0                0.0
 88290                0.0                0.0                0.0
 88291                0.0                0.0                0.0
 88292                0.0                0.0                0.0
 88293                0.0                0.0                0.0

        rides_prev_669_hr  rides_prev_668_hr  rides_prev_667_hr  \
 0                    8.0                9.0                7.0
 1                    0.0                0.0                0.0
 2                    0.0                1.0                1.0
 3                    0.0                0.0                3.0
 4                    0.0                0.0                0.0
 ...                  ...                ...                ...
 88289                0.0                0.0                0.0
 88290                0.0                0.0                0.0
 88291                0.0                0.0                0.0
 88292                0.0                0.0                0.0
 88293                0.0                0.0                0.0

        rides_prev_666_hr  rides_prev_665_hr  rides_prev_664_hr  \
 0                    3.0                1.0                0.0
 1                    0.0                0.0                1.0
 2                    1.0                3.0                2.0
 3                    2.0                3.0                4.0
 4                    3.0                4.0                1.0
 ...                  ...                ...                ...
 88289                0.0                0.0                0.0
 88290                0.0                0.0                0.0
 88291                0.0                0.0                0.0
 88292                0.0                0.0                0.0
 88293                0.0                0.0                0.0

        rides_prev_663_hr  ...  rides_prev_8_hr  rides_prev_7_hr  \
 0                    3.0  ...              4.0             11.0
 1                    1.0  ...              5.0              5.0
 2                    3.0  ...              6.0              8.0
 3                    5.0  ...              6.0              3.0
 4                    2.0  ...              5.0              3.0
 ...                  ...  ...              ...              ...
 88289                0.0  ...              0.0              0.0
 88290                0.0  ...              0.0              0.0
 88291                0.0  ...              0.0              0.0
 88292                0.0  ...              0.0              0.0
 88293                0.0  ...              0.0              0.0

        rides_prev_6_hr  rides_prev_5_hr  rides_prev_4_hr  rides_prev_3_hr  \
 0                  7.0              4.0              3.0              4.0
 1                  4.0             10.0              7.0              5.0
 2                  7.0              8.0              5.0              5.0
 3                 16.0              7.0              1.0              0.0
 4                  8.0              3.0              0.0              4.0
 ...                ...              ...              ...              ...
 88289              0.0              0.0              0.0              0.0
 88290              0.0              0.0              0.0              0.0
 88291              0.0              0.0              0.0              0.0
 88292              0.0              0.0              0.0              0.0
 88293              0.0              0.0              0.0              0.0

        rides_prev_2_hr  rides_prev_1_hr  pickup_hr  location_id
 0                  9.0             19.0 2022-01-29            4
 1                  9.0             10.0 2022-01-30            4
 2                 10.0              0.0 2022-01-31            4
 3                  1.0              3.0 2022-02-01            4
 4                  4.0              3.0 2022-02-02            4
 ...                ...              ...        ...          ...
 88289              0.0              0.0 2022-12-27          199
 88290              0.0              0.0 2022-12-28          199
 88291              0.0              0.0 2022-12-29          199
 88292              0.0              0.0 2022-12-30          199
 88293              0.0              0.0 2022-12-31          199

 [88294 rows x 674 columns],
        tgt_rides_nxt_hr
 0                  17.0
 1                   9.0
 2                   3.0
 3                   3.0
 4                   1.0
 ...                 ...
 88289               0.0
 88290               0.0
 88291               0.0
 88292               0.0
 88293               0.0

 [88294 rows x 1 columns])

In [20]:
tabular_data = features
tabular_data['tgt_rides_next_hr'] = targets

from src.paths import PROCESSED_DATA_DIR

tabular_data.to_parquet(PROCESSED_DATA_DIR / "tabular_data.parquet")