In [1]:
%reload_ext autoreload
%autoreload 2

In [6]:
from src.paths import PARENT_DIR
from src.data import loadRawData, processRawData, processData2FeatTgt
rides = loadRawData(year=2022)
rides

File for 2022_01 found locally...
File for 2022_02 found locally...
File for 2022_03 found locally...
File for 2022_04 found locally...
File for 2022_05 found locally...
File for 2022_06 found locally...
File for 2022_07 found locally...
File for 2022_08 found locally...
File for 2022_09 found locally...
File for 2022_10 found locally...
File for 2022_11 found locally...
File for 2022_12 found locally...

            pickup_datetime  pickup_loc_id
0       2022-01-01 00:35:40            142
1       2022-01-01 00:33:43            236
2       2022-01-01 00:53:21            166
3       2022-01-01 00:25:21            114
4       2022-01-01 00:36:48             68
...                     ...            ...
3399544 2022-12-31 23:46:00             16
3399545 2022-12-31 23:13:24             75
3399546 2022-12-31 23:00:49            168
3399547 2022-12-31 23:02:50            238
3399548 2022-12-31 23:00:15             85

[39654635 rows x 2 columns]

In [13]:
ts_data = processRawData(rides)
ts_data.head(10)

100%|██████████| 262/262 [00:01<00:00, 189.20it/s]

          pickup_hour  rides  pickup_loc_id
0 2022-01-01 00:00:00     11              4
1 2022-01-01 01:00:00     15              4
2 2022-01-01 02:00:00     26              4
3 2022-01-01 03:00:00      8              4
4 2022-01-01 04:00:00      9              4
5 2022-01-01 05:00:00      7              4
6 2022-01-01 06:00:00      3              4
7 2022-01-01 07:00:00      1              4
8 2022-01-01 08:00:00      0              4
9 2022-01-01 09:00:00      3              4

In [18]:
features, targets = processData2FeatTgt(
    ts_data,
    input_feat_len= 24*28*1, # One Month
    step_size=24
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 262/262 [00:24<00:00, 10.91it/s]

features.shape=(88294, 674)
targets.shape=(88294, 1)

In [20]:
tabular_data = features
tabular_data['tgt_rides_next_hr'] = targets

from src.paths import PROCESSED_DATA_DIR

tabular_data.to_parquet(PROCESSED_DATA_DIR / "tabular_data.parquet")